<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>가나안화물운송공사 | 화물운송·이사·기업물류</title>
	</head>
	<body>
		<slot />
	</body>
</html>
  @media (max-width: 768px) {
    .section-title {
      font-size: 28px;
    }
  }

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
